<div class="row">
    <div class="col-lg-12">
        <img class="img-responsive" [src]="" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4 class="list-group-item-heading">{{recDetails.name}}</h4>
        <p class="list-group-item-text">{{recDetails.description}}</p>
        <img alt="{{recDetails.name}}" [src]="recDetails.imagePath" class="img-responsive" style="max-height: 50px;">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">To shopping list</a>
                </li>
                <li>
                    <a href="#">Edit recipe</a>
                </li>
                <li>
                    <a href="#">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        Ingridents
    </div>
</div>
